.body{
    display: flex;
    text-align: left;
    margin: 10px;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
}

.body input{
    display: block;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 10px auto;

}

.body button{
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 100px;
    border-radius: 10px;
    color: pink;
    background-color: black;
    cursor: pointer;
    font-size: medium;
    border: none;
}